<a routerLink="/dest/{{rental._id}}">

  <div class="card bwm-card">
        <img class="card-img-top" src="{{rental.image}}" alt="">
        <div class="card-block">
          <h4 class="card-title">{{rental.title}} &#183; <span class="citytitle"> {{rental.city}}</span> </h4>
          <h6 class="card-subtitle {{rental.category}}"> {{(rental.category==='tour')? 'Tour Only':'Tour + Accomodation' }} </h6>
          <p class="card-text">${{rental.dailyRate}} &#183; Free Cancelation</p>
          <!-- <a href="#" class="card-link">More Info</a> -->
        </div>
      </div> 

</a>