 <!-- HERO AREA -->
 <div class="jumbotron hero-image text-center" style="background-image: url('herobg.jpg')">
  
  <h1 class="display-4 hed" >Meet Locals, Have Great Experiences!</h1>  

<!-- Search -->

           <div class="container hero" style="margin-top: 18%;">
        <div class="col-12 searchb">

            <form role="form" id="form-buscar">
                <div class="form-group">
                    <div class="input-group">
                        <input id="1" class="form-control" type="text" name="search" placeholder="Lets Explore Great Places ..." required/>
                        <span class="input-group-btn">
<button class="btn btn-warning search-hero" type="submit">
<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search<i class='fas fas fa-search'></i>
</button>
</span>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
    <!-- Search Ends-->
    
  
  
      <!-- HERO END -->


<!-- Events -->

       <div class="container">
        <div class="title">
          <h2>Explore Events</h2>
        </div>
        
          <div class="card-group"> 
       
        <!--        -->
 
<div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
     
<!---->
      
<!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->

      <!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->
      
<!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->
      
       </div>
       
  </div>
<!--Events End-->

<!-- Local People -->
<div class="container">
    <div class="title">
          <h2 class="loched">Meet local people</h2>
    </div>
          <div class="card-group localprof"> 
       
        <!--        -->
 
<div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="..." style="border-radius: 200px; height:246px;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
     
<!---->
      
<!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->

      <!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->
      
<!--        -->
       <div class="card" style="width: 18rem;">
  <img src="http://via.placeholder.com/350x250" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!---->
      
       </div>
       
  </div>

<!-- Local People End-->
